<h1>Lista de Productos con websockets</h1>
{{#each products}}
    <h2>{{this.producto}}</h2>
    <p>{{this.descripcion}}</p>
    <p>{{this.precio}}</p>
{{/each}}

<div>
    Todo listo con websockets
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>